<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:targetApi="31" android:hasCode="false"/>
    <!-- higher than FrameworkRes-Yodo-Overlay -->
    <overlay android:priority="271" android:targetPackage="android" android:isStatic="true" />

</manifest>